body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 300px;
}
form {
  padding: 0 15px 15px 15px;
}
h1 {
  color: #007bff;
  font-weight: 400;
  margin-bottom: 10px;
  padding-bottom: 0;
}
h2 {
  font-weight: 500;
  margin-bottom: 10px;
}
textarea, input {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  padding: 5px 0 5px 5px;
  margin: 5px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
textarea {
  min-height: 100px;
  margin-top: 0;
}
textarea:focus, input:focus {
  border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
.bidRec {
  margin: 5px 0;
}
button {
  margin: 5px 0;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}
.paymentInfo {
  text-align: center;
  padding: 0 15px 15px 15px;
}
.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6c;
  position: relative;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.paymentInfo textarea {
  min-height: 250px;
}
.paymentInfo span {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
}